*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* end general css*/

.logo {
    width: 13rem;
    margin-top: 2rem;
    margin-left: 1rem;
}

header {
    background-image: url(/img/pattern.png);
    background-size: contain;
    background-repeat: repeat;
    background-color: rgb(127, 176, 255);
}

/*end header css*/

main{
    margin: 5px;
}

.article-content > h5 {
    color: grey;
}
.article-content > h6{
    color: grey;
}
.article-content > p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article-content > ul{
    margin-top: 1rem;
    margin-bottom:1rem;
}

.autore {
    color: aquamarine;
}

.description{
    color: grey;
}

.evidence{
    background-color: yellow;
}

table{
    border-spacing: 0;
    margin-top: 10px;
    margin-bottom: 10px;

}
th{
    background-color: lightskyblue;
    color: white;
    text-align: left;
}

.tr-odd{
    background-color: aqua;
}
.tr-even{
    background-color: white;
}