* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* end general css*/

.logo {
    width: 150px;
    margin-top: 20px;
}

header {
    background-image: url(/img/pattern.png);
    background-size: contain;
    background-repeat: repeat;
    background-color: rgb(127, 176, 255);
    text-align: center;

}

/*end header css*/

main {
    text-align: center;
    margin: 20px 100px;
}

.article-content>h5 {
    color: grey;
}

.article-content>h6 {
    color: grey;
}

.article-content>p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.article-content>ul {
    margin: 20px;
}

.autore {
    color: aquamarine;
}

.description {
    color: grey;
}

.evidence {
    background-color: yellow;
}

table {
    border-spacing: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;

}

th {
    background-color: lightskyblue;
    color: white;
    text-align: left;
}

.tr-odd {
    background-color: aqua;
}

.tr-even {
    background-color: white;
}

.first-column,
.second-column {
    width: 25%;
}

.third-column {
    width: 50%;
}

/*end of css for the article section*/

.related-article {
    margin-top: 20px;
}

.related-article>h4 {
    color: grey;
}

.related1>h3,
.related2>h3 {
    color: white;
}

.related1,
.related2 {
    text-align: center;
    margin-top: 10px;
    height: 200px;
    width: 300px;
    background-size: cover;
}